{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}

    <main role="main" class="container">

        <div class="starter-template">
            <p class="lead"><h1>Nos téléphones</h1><br><h4> La liste des nombreux smartphone que nous vendons </h4></p>
        </div>

    </main>

    <ul>
    {% for phone in phones %}
        <li>
            <p><a href="{{ path('product', { 'productId': phone.id })}}">{{ phone.name }}, {{ phone.status}}</a></p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}